body{
    background: #3c3d3d;
}
.container{
    max-width: 400px;
}
input[type=text], input[type=text]:focus{
    color:#fff;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    max-width: 400px;
}
.todos li{
    background: #16151a;
    color:#fff;
    margin-bottom: 6px;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}